﻿@page "/CitiesViews/Create"
@inject HttpClient http
@inject NavigationManager uriHelper
<h3>Create</h3>
<Form ButtonText="Create City" city="@city"
      OnValidSubmit="@CreateCity" />
@code {
    City city = new City();
    async Task CreateCity()
    {
        await http.PostAsJsonAsync("City", city);
        uriHelper.NavigateTo("CitiesViews/FetchData");
    }
}