﻿@page "/CitiesViews/FetchData"
@using Phone_calls_6.Shared.Models
@inject HttpClient Http
@inject IJSRuntime js

<h1>Persons</h1>

<div class="form-group">
    <a class="btn btn-success" href="CitiesViews/Create"><i class="oi oi-plus"></i> Create New</a>
</div>
<br>

@if (cities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Price</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var city in cities)
            {
                <tr>
                    <td>@city.code</td>
                    <td>@city.price</td>
                    <td>@city.city</td>
                    <td>
                        <a class="btn btn-success" href="CitiesViews/Update/@city.id">Update</a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(city.id))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private City[] cities;

    protected override async Task OnInitializedAsync()
    {
        cities = await Http.GetFromJsonAsync<City[]>("City");
    }

    async Task Delete(int cityId)
    {
        var city = cities.First(x => x.id == cityId);
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete ({city.id}) Record?"))
        {
            await Http.DeleteAsync($"City/{city.id}");
            await OnInitializedAsync();
        }
    }
}