﻿<EditForm Model="@city" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Price :</label>
        <div>
            <InputNumber @bind-Value="@city.price" />
            <ValidationMessage For="@(() => city.price)" />
        </div>
    </div>
    <div class="form-group">
        <label>Code :</label>
        <div>
            <InputNumber @bind-Value="@city.code" />
            <ValidationMessage For="@(() => city.code)" />
        </div>
    </div>
    <div class="form-group">
        <label>City :</label>
        <div>
            <InputText @bind-Value="@city.city" />
            <ValidationMessage For="@(() => city.city)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>
@code {
    [Parameter] public City city { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}