﻿@page "/CallsViews/Create"
@inject HttpClient http
@inject NavigationManager uriHelper
<h3>Create</h3>
<Form ButtonText="Create Call" call="@call"
      OnValidSubmit="@CreateCall" />
@code {
    Calls call = new Calls();
    async Task CreateCall()
    {
        await http.PostAsJsonAsync("Call", call);
        uriHelper.NavigateTo("CallsViews/FetchData");
    }
}