﻿<EditForm Model="@call" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Duration :</label>
        <div>
            <InputNumber @bind-Value="@call.duration" />
            <ValidationMessage For="@(() => call.duration)" />
        </div>
    </div>
    <div class="form-group">
        <label>Date:</label>
        <div>
            <InputDate @bind-Value="@call.date_of_calls" />
            <ValidationMessage For="@(() => call.date_of_calls)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>
@code {
    [Parameter] public Calls call { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}