﻿<h3>Update</h3>

@page "/CallsViews/Update/{id:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
<Form ButtonText="Update" call="@call"
      OnValidSubmit="@UpdateCall" />
@code {
    [Parameter] public int id { get; set; }
    Calls call = new Calls();
    protected async override Task OnParametersSetAsync()
    {
        call = await http.GetFromJsonAsync<Calls>($"Call/{id}");
    }
    async Task UpdateCall()
    {
        await http.PutAsJsonAsync("Call", call);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("CallsViews/FetchData");
    }
}