﻿@page "/AddressViews/Create"
@inject HttpClient http
@inject NavigationManager uriHelper
<h3>Create</h3>
<Form ButtonText="Create Address" address="@address"
      OnValidSubmit="@CreateAddress" />
@code {
    Address address = new Address();
    async Task CreateAddress()
    {
        await http.PostAsJsonAsync("Address", address);
        uriHelper.NavigateTo("AddressViews/FetchData");
    }
}