﻿<EditForm Model="@address" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>House number :</label>
        <div>
            <InputText @bind-Value="@address.house_number" />
            <ValidationMessage For="@(() => address.house_number)" />
        </div>
    </div>
    <div class="form-group">
        <label>Street:</label>
        <div>
            <InputText @bind-Value="@address.street" />
            <ValidationMessage For="@(() => address.street)" />
        </div>
    </div>
    <div class="form-group">
        <label>Street:</label>
        <div>
            <InputText @bind-Value="@address.city" />
            <ValidationMessage For="@(() => address.city)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>
@code {
    [Parameter] public Address address { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}