﻿<h3>Update</h3>

@page "/AddressViews/Update/{id:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
<Form ButtonText="Update" address="@address"
      OnValidSubmit="@UpdateAddress" />
@code {
    [Parameter] public int id { get; set; }
    Address address = new Address();
    protected async override Task OnParametersSetAsync()
    {
        address = await http.GetFromJsonAsync<Address>($"Address/{id}");
    }
    async Task UpdateAddress()
    {
        await http.PutAsJsonAsync("Address", address);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("AddressViews/FetchData");
    }
}